Repository ostis-ai/sc-machine, pull requests merged in 2022-07, with the labels that each got.

#73 [docs] Add docs in latex format from OSTIS Standard
  docs/index.md
  docs/python/cpp_wrap.md
  docs/sc-control/sc_context.tex
  docs/sc-control/sc_control.tex
  docs/sc-control/sc_event.tex
  docs/sc-control/sc_lock.tex
  docs/sc-kpm/kpm.md
  docs/sc-kpm/sc_core_agents.tex
  docs/sc-kpm/sc_kpm.tex
  docs/sc-memory/sc-fs-storage/sc_fs_storage.tex
  docs/sc-memory/sc-storage/images/sc_storage.pdf
  docs/sc-memory/sc-storage/images/sc_storage_example.gwf
  docs/sc-memory/sc-storage/images/sc_storage_example.png
  docs/sc-memory/sc-storage/sc_addr.tex
  docs/sc-memory/sc-storage/sc_element.tex
  docs/sc-memory/sc-storage/sc_element_access_level_type.tex
  docs/sc-memory/sc-storage/sc_element_syntactic_type.tex
  docs/sc-memory/sc-storage/sc_storage.tex
  docs/sc-memory/sc_memory.tex
  docs/sc-network/index.md
  docs/sc-network/sc_network.tex
  docs/sc-network/sc_server.tex
  docs/sc-network/websocket.md
  docs/sc-search/sc_iterator.tex
  docs/sc-search/sc_search.tex
  docs/sc-search/sc_template.tex
  docs/sc-search/templates.md
  docs/sc-tools/kb_builder.md
  docs/sc-tools/sc_builder.tex
  docs/sc-tools/sc_tools.tex
  docs/sc_machine.tex
  docs/scp/scp.tex
Labels: 0.7.0

#105 [memory][sc-fs-storage][sc-dictionary][sc-rocksdb] Add opportunity to search links by substring
  docs/changelog.md
  docs/storage/sc-dictionary.md
  sc-memory/sc-core/sc-store/sc-container/sc-dictionary/sc_dictionary.c
  sc-memory/sc-core/sc-store/sc-container/sc-dictionary/sc_dictionary.h
  sc-memory/sc-core/sc-store/sc-fs-storage/sc_dictionary_fs_storage.c
  sc-memory/sc-core/sc-store/sc-fs-storage/sc_dictionary_fs_storage.h
  sc-memory/sc-core/sc-store/sc-fs-storage/sc_fs_storage.c
  sc-memory/sc-core/sc-store/sc-fs-storage/sc_fs_storage.h
  sc-memory/sc-core/sc-store/sc-fs-storage/sc_fs_storage_builder.h
  sc-memory/sc-core/sc-store/sc-fs-storage/sc_rocksdb_fs_storage.cpp
  sc-memory/sc-core/sc-store/sc-fs-storage/sc_rocksdb_fs_storage.h
  sc-memory/sc-core/sc-store/sc_storage.c
  sc-memory/sc-core/sc-store/sc_storage.h
  sc-memory/sc-core/sc_memory.c
  sc-memory/sc-core/sc_memory.h
  sc-memory/sc-memory/sc_memory.cpp
  sc-memory/sc-memory/sc_memory.hpp
  sc-memory/tests/sc-memory/common/sc-link.cpp
  sc-memory/tests/sc-memory/containers/sc-dictionary.cpp
Labels: enhancement, file system, new

#112 Add sc-memory string API for set and get link content methods
  docs/changelog.md
  sc-memory/sc-memory/sc_memory.hpp
  sc-memory/tests/sc-memory/common/sc-memory.cpp
Labels: 0.7.0, API, memory, new

#114 [tools] add os exitcode check in build_kb.py
  scripts/build_kb.py
Labels: bug, build, sc-builder

#115 [tools][fix] Use base hash function for addrs
  sc-kpm/sc-ui/translators/uiTranslatorFromSc.cpp
Labels: bug

#102 [memory][sc-fs-storage][sc-dictionary] Fix memory leak, add prefix removing in sc-dictionary destroy
  sc-memory/sc-core/sc-store/sc-container/sc-dictionary/sc_dictionary.c
  sc-memory/sc-core/sc-store/sc-container/sc-string/sc_string.h
  sc-memory/sc-core/sc-store/sc-fs-storage/sc_dictionary_fs_storage.c
  sc-memory/sc-core/sc-store/sc_storage.c
Labels: 0.7.0, file system, memory leak

#113 [sc-server] Add opportunity to find links by substring
  docs/changelog.md
  docs/sc-network/images/handle_link_contents_command.png
  docs/sc-network/sc_json.g4
  docs/sc-network/sc_server.tex
  sc-memory/sc-memory/sc_link.hpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_handle_link_content_json_action.hpp
  sc-tools/sc-server/tests/api/units/test_base.cpp
Labels: 0.7.0, API, sc-server
