Repository ostis-ai/sc-machine, pull requests merged in 2022-09, with the labels that each got.

#140 [tools] Add sc-server healthcheck
  README.md
  docs/changelog.md
  docs/sc-network/sc_json.g4
  requirements.txt
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_handle_link_content_json_action.hpp
  sc-tools/sc-server/src/sc-server-impl/sc_server.hpp
  sc-tools/sc-server/src/sc-server-impl/sc_server_defines.hpp
  sc-tools/sc-server/src/sc-server-impl/sc_server_message_action.hpp
  scripts/healthcheck.py
Labels: sc-server

#137 [tools][sc-server] Change error flow, add errors check for json
  docs/changelog.md
  sc-memory/sc-memory/sc_scs_helper.cpp
  sc-memory/sc-memory/sc_scs_helper.hpp
  sc-tools/sc-server/src/main.cpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_check_elements_json_action.hpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_create_elements_by_scs_json_action.hpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_create_elements_json_action.hpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_delete_elements_json_action.hpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_handle_keynodes_json_action.hpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_handle_link_content_json_action.hpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_json_action.hpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_json_actions_handler.cpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_json_actions_handler.hpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_template_generate_json_action.hpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_template_search_json_action.hpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-event/sc_memory_json_events_handler.cpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-event/sc_memory_json_events_handler.hpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-event/sc_memory_json_events_manager.hpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc_memory_json_handler.cpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc_memory_json_handler.hpp
  sc-tools/sc-server/src/sc-server-impl/sc_server.hpp
  sc-tools/sc-server/src/sc-server-impl/sc_server_action.hpp
  sc-tools/sc-server/src/sc-server-impl/sc_server_impl.cpp
  sc-tools/sc-server/src/sc-server-impl/sc_server_impl.hpp
  sc-tools/sc-server/src/sc-server-impl/sc_server_message_action.hpp
  sc-tools/sc-server/tests/api/units/sc_server_test.hpp
  sc-tools/sc-server/tests/api/units/test_base.cpp
  sc-tools/sc-server/tests/sc_client.hpp
Labels: API, sc-server

#144 Add ability to pass a function for action initiation before waiting for it to finish
  docs/changelog.md
  sc-memory/sc-memory/sc_wait.hpp
  sc-memory/tests/sc-memory/events/sc-wait.cpp
Labels: bug, enhancement, sc-events

#158 [kpm] Update agent utils with new logic for action initiation
  docs/changelog.md
  sc-kpm/sc-agents-common/utils/AgentUtils.cpp
  sc-kpm/sc-agents-common/utils/AgentUtils.hpp
  sc-kpm/tests/sc-utils/sc-agents-common-utils.cpp
  sc-kpm/tests/test-agents/FinishActionTestAgent.cpp
  sc-kpm/tests/test-agents/FinishActionTestAgent.hpp
  sc-kpm/tests/tests.cmake
Labels: enhancement, sc-utils

#159 [server][builder] Convert binary to base64 format in build step
  docs/changelog.md
  sc-memory/sc-core/sc-store/sc-container/sc-dictionary/sc_dictionary.h
  sc-memory/sc-core/sc-store/sc_stream_memory.c
  sc-memory/sc-memory/utils/sc_exec.hpp
  sc-tools/sc-builder/src/scs_translator.cpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_handle_link_content_json_action.hpp
Labels: 0.7.0, file system

#151 [doc] Add contributing rules
  .github/workflows/style.yml
  CONTRIBUTING.md
  docs/dev/pr.md
  docs/index.md
  mkdocs.yml
Labels: documentation, enhancement

#148 [docs] Replace latex docs with new macros
  docs/sc-control/sc_context.tex
  docs/sc-control/sc_event.tex
  docs/sc-kpm/sc_core_agents.tex
  docs/sc-memory/sc-fs-storage/sc_fs_storage.tex
  docs/sc-memory/sc-storage/sc_addr.tex
  docs/sc-memory/sc-storage/sc_element.tex
  docs/sc-memory/sc-storage/sc_element_access_level_type.tex
  docs/sc-memory/sc-storage/sc_element_syntactic_type.tex
  docs/sc-memory/sc-storage/sc_storage.tex
  docs/sc-network/sc_network.tex
  docs/sc-network/sc_server.tex
  docs/sc-search/sc_iterator.tex
  docs/sc-search/sc_template.tex
  docs/sc-tools/sc_builder.tex
  docs/sc_machine.tex
  docs/scp/scp.tex
Labels: documentation, enhancement

#170 [ci] Fix glib casts and add ci for ubuntu 22.04 and macOS
  .github/workflows/main.yml
  cmake/FindLibClang.cmake
  docs/build/osx-build.md
  docs/changelog.md
  sc-memory/sc-core/sc-store/sc-fs-storage/sc_dictionary_fs_storage.c
  sc-memory/sc-core/sc-store/sc-fs-storage/sc_file_system.c
  sc-memory/sc-core/sc-store/sc-fs-storage/sc_file_system.h
  sc-memory/sc-core/sc-store/sc-fs-storage/sc_fs_storage.c
  sc-memory/sc-core/sc-store/sc-fs-storage/sc_rocksdb_fs_storage.cpp
  sc-memory/sc-core/sc-store/sc_event.c
  sc-memory/sc-core/sc-store/sc_link_helpers.c
  sc-memory/sc-core/sc-store/sc_segment.c
  sc-memory/sc-memory/utils/sc_lock.cpp
  sc-tools/sc-config-utils/sc-config/sc_config.hpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_make_template_json_action.hpp
  scripts/install_deps_macOS.sh
Labels: bug, 0.7.0, build

#175 [memory][fix] Create directory for binaries if doesn't exist
  sc-memory/sc-core/sc-store/sc-fs-storage/sc_fs_storage.c
Labels: 0.7.0
