Repository ostis-ai/sc-machine, pull requests merged in 2023-04, with the labels that each got.

#221 [memory][template][search] Implement effective sc-template search
  docs/changelog.md
  sc-memory/sc-core/sc-store/sc_element.h
  sc-memory/sc-core/sc-store/sc_storage.c
  sc-memory/sc-core/sc-store/sc_storage.h
  sc-memory/sc-core/sc_memory.c
  sc-memory/sc-core/sc_memory.h
  sc-memory/sc-memory/kpm/sc_agent.cpp
  sc-memory/sc-memory/sc_addr.hpp
  sc-memory/sc-memory/sc_iterator.hpp
  sc-memory/sc-memory/sc_memory.cpp
  sc-memory/sc-memory/sc_memory.hpp
  sc-memory/sc-memory/sc_struct.cpp
  sc-memory/sc-memory/sc_template.cpp
  sc-memory/sc-memory/sc_template.hpp
  sc-memory/sc-memory/sc_template_build.cpp
  sc-memory/sc-memory/sc_template_gen.cpp
  sc-memory/sc-memory/sc_template_scs.cpp
  sc-memory/sc-memory/sc_template_search.cpp
  sc-memory/tests/sc-memory/common/sc-elements.cpp
  sc-memory/tests/sc-memory/events/sc-event.cpp
  sc-memory/tests/sc-memory/scs/scs-helper.cpp
  sc-memory/tests/sc-memory/templates/sc-templates-api.cpp
  sc-memory/tests/sc-memory/templates/sc-templates-build.cpp
  sc-memory/tests/sc-memory/templates/sc-templates-common.cpp
  sc-memory/tests/sc-memory/templates/sc-templates-gen-api.cpp
  sc-memory/tests/sc-memory/templates/sc-templates-regression.cpp
  sc-memory/tests/sc-memory/templates/sc-templates-scs.cpp
  sc-memory/tests/sc-memory/templates/sc-templates-search-api.cpp
  sc-memory/tests/sc-memory/templates/sc-templates-search.cpp
  sc-memory/tests/sc-memory/templates/sc-templates-struct.cpp
  sc-memory/tests/sc-memory/templates/template_test_utils.hpp
  sc-tools/sc-builder/tests/kb/test_templates/template_1.scs
  sc-tools/sc-builder/tests/kb/test_templates/test_template_1.gwf
  sc-tools/sc-builder/tests/units/test_base.cpp
  sc-tools/sc-server/tests/api/units/test_base.cpp
Labels: sc-memory, 0.8.0, sc-template, sc-template-search

#252 [kpm] Update erase element agent finishing and tests
  sc-kpm/sc-common/sc_keynodes.c
  sc-kpm/sc-search/search_keynodes.c
  sc-kpm/sc-search/search_keynodes.h
  sc-kpm/sc-search/search_utils.c
  sc-kpm/sc-search/search_utils.h
  sc-kpm/sc-utils/utils_erase_elements.c
  sc-kpm/tests/sc-utils/sc-utils.cpp
Labels: bug, sc-kpm

#254 Generalize docker entrypoint
  docker-compose.yml
  docs/changelog.md
  scripts/build_kb.py
  scripts/docker_entrypoint.sh
Labels: build, 0.8.0

#265 Refactor get next from set util
  docs/changelog.md
  sc-kpm/sc-agents-common/utils/IteratorUtils.cpp
  sc-kpm/tests/sc-utils/sc-agents-common-iterator-utils.cpp
  sc-kpm/tests/sc-utils/sc-agents-common-utils.cpp
Labels: sc-utils, sc-kpm, 0.8.0

#268 [tests] Divide ScMemoryTest and ScSingleThreadedMemoryTest
  sc-kpm/tests/sc-agents/sc-threaded-core-agents.cpp
  sc-memory/sc-core/sc-store/sc_event.c
  sc-memory/sc-core/sc-store/sc_event/sc_event_private.h
  sc-memory/sc-core/sc-store/sc_event/sc_event_queue.c
  sc-memory/sc-core/sc-store/sc_event/sc_event_queue.h
  sc-memory/sc-core/sc_memory_params.c
  sc-memory/sc-core/sc_memory_params.h
  sc-memory/tests/sc-memory/_test/sc_test.hpp
  sc-memory/tests/sc-memory/tests.cmake
  sc-tools/sc-config-utils/sc_memory_config.hpp
Labels: 0.8.0

#269 [scripts] Fix docker_entrypoint.sh
  scripts/docker_entrypoint.sh
Labels: 0.8.0, docker

#270 [refactor] Illuminate warnings
  sc-kpm/sc-agents-common/utils/GenerationUtils.cpp
  sc-kpm/sc-agents-common/utils/IteratorUtils.cpp
  sc-memory/sc-memory/sc_debug.hpp
  sc-memory/sc-memory/scs/scs_parser.cpp
  sc-memory/sc-memory/utils/sc_log.cpp
  sc-tools/codegen/Parser/Main.cpp
  sc-tools/codegen/Parser/ReflectionParser.cpp
  thirdparty/antlr/runtime/src/NoViableAltException.cpp
  thirdparty/antlr/runtime/src/atn/ATNState.h
Labels: 0.8.0

#271 [scripts] Add run_tests.sh
  docs/changelog.md
  scripts/clean_all.sh
  scripts/run_tests.sh
Labels: build, 0.8.0

#264 Scn json translator
  CMakeLists.txt
  docs/images/kpm/arc_example.png
  docs/images/kpm/arcs_example.png
  docs/images/kpm/base_info_example.png
  docs/images/kpm/children_example.png
  docs/images/kpm/concept_scn_json_elements_filter_set_example.png
  docs/images/kpm/concept_scn_json_elements_order_set_example.png
  docs/images/kpm/link_example.png
  docs/images/kpm/linked_nodes_example.png
  docs/images/kpm/modifier_arcs_example.png
  docs/images/kpm/modifier_example.png
  docs/images/kpm/modifiers_example.png
  docs/images/kpm/node_example.png
  docs/images/kpm/scn_json_translator_input.png
  docs/images/kpm/scn_json_translator_input2.png
  docs/images/kpm/struct_example.png
  docs/sc-kpm/sc_core_agents.tex
  docs/sc-kpm/sc_ui_scn_json_translator.tex
  docs/sc-network/sc_server.tex
  sc-kpm/sc-search/agents/search_semantic_neighborhood.c
  sc-kpm/sc-ui/CMakeLists.txt
  sc-kpm/sc-ui/translators/uiSc2SCnJsonTranslator.cpp
  sc-kpm/sc-ui/translators/uiSc2SCnJsonTranslator.h
  sc-kpm/sc-ui/translators/uiSc2ScsJsonTranslator.cpp
  sc-kpm/sc-ui/translators/uiTranslatorFromSc.cpp
  sc-kpm/sc-ui/translators/uiTranslatorFromSc.h
  sc-kpm/sc-ui/uiKeynodes.cpp
  sc-kpm/sc-ui/uiKeynodes.h
  sc-kpm/sc-ui/uiTypes.h
  sc-kpm/tests/tests.cmake
  sc-kpm/tests/translators/test-structures/command_init_checks/command_init_no_class.scs
  sc-kpm/tests/translators/test-structures/command_init_checks/command_init_no_format.scs
  sc-kpm/tests/translators/test-structures/command_init_checks/command_init_no_lang.scs
  sc-kpm/tests/translators/test-structures/command_init_checks/init_ui_translator.scs
  sc-kpm/tests/translators/test-structures/filter_list.scs
  sc-kpm/tests/translators/test-structures/knowledge_definition.scs
  sc-kpm/tests/translators/test-structures/order_list.scs
  sc-kpm/tests/translators/test-structures/section_subj_domain.scs
  sc-kpm/tests/translators/test-structures/section_subj_domain_keynodes.scs
  sc-kpm/tests/translators/test-structures/subj_domain.scs
  sc-kpm/tests/translators/test-structures/successfull_result_answer.txt
  sc-kpm/tests/translators/test-structures/with_filter_list_answer.txt
  sc-kpm/tests/translators/test-structures/with_order_list_answer.txt
  sc-kpm/tests/translators/ui-scn-json-translator.cpp
Labels: 0.8.0, ui
