Repository ostis-ai/sc-machine, pull requests merged in 2023-12, with the labels that each got.

#328 [memory][storage] Fix searching sc-edges
  docs/changelog.md
  sc-memory/sc-core/sc-store/sc_iterator3.c
  sc-memory/sc-core/sc-store/sc_iterator5.c
  sc-memory/sc-core/sc-store/sc_storage.c
  sc-memory/sc-core/sc-store/sc_types.h
  sc-memory/sc-memory/sc_iterator.hpp
  sc-memory/tests/sc-memory/common/sc-elements.cpp
  sc-memory/tests/sc-memory/common/sc-iterator3.cpp
  sc-memory/tests/sc-memory/common/sc-memory.cpp
  sc-memory/tests/sc-memory/events/sc-event.cpp
  sc-memory/tests/sc-memory/templates/sc-templates-common.cpp
Labels: sc-memory, 0.9.0

#332 [scripts][gwf2scs] Fix parse contours identifiers
  docs/changelog.md
  scripts/kb_scripts/support_scripts/scs_writer.py
Labels: 0.9.0, scripts, gwf2scs

#331 [docs] Update scg, scs types
  docs/changelog.md
  docs/cpp/el_types.md
  docs/images/scg/scg_link.png
  docs/images/scg/scg_link_const.png
  docs/images/scg/scg_node.png
  docs/images/scg/scg_node_const.png
  docs/images/scg/scg_node_const_abstract.png
  docs/images/scg/scg_node_const_class.png
  docs/images/scg/scg_node_const_material.png
  docs/images/scg/scg_node_const_norole.png
  docs/images/scg/scg_node_const_role.png
  docs/images/scg/scg_node_const_struct.png
  docs/images/scg/scg_node_const_tuple.png
  docs/images/scg/scg_node_var.png
  docs/images/scg/scg_node_var_abstract.png
  docs/images/scg/scg_node_var_class.png
  docs/images/scg/scg_node_var_material.png
  docs/images/scg/scg_node_var_norole.png
  docs/images/scg/scg_node_var_role.png
  docs/images/scg/scg_node_var_struct.png
  docs/images/scg/scg_node_var_tuple.png
  docs/other/images/scs_keynodes_old_example_1.png
  docs/other/images/scs_keynodes_old_example_2.png
  docs/other/scs.md
  sc-memory/sc-memory/scs/scs_parser.cpp
  sc-memory/sc-memory/scs/scs_types.cpp
Labels: bug, documentation, 0.9.0

#336 [builder][scripts][gwf2scs] Fix deleting existing and translated .scs sources with the same name
  docs/changelog.md
  sc-tools/sc-builder/src/gwf_translator.cpp
  scripts/kb_scripts/gwf_to_scs.py
Labels: bug, 0.9.0, gwf2scs

#338 [kpm] Fix agent_erase_elements behavior on not his actions
  docs/changelog.md
  sc-kpm/sc-utils/utils_erase_elements.c
Labels: 0.9.0, sc-kpm

#339 [memory] Hotfixes for getting not engaged and released segments
  sc-memory/sc-core/sc-store/sc_storage.c
Labels: bug, sc-memory, 0.9.0

#340 [docs] Add hex and dec values for ScTypes
  docs/cpp/el_types.md
  docs/images/scg/scg_link_var.png
Labels: documentation, 0.9.0

#345 [memory][storage] Revert set types in create node and link
  sc-memory/sc-core/sc-store/sc_storage.c
Labels: bug, API, 0.9.0

#346 [memory] Hotfixes of arcs deletion due edge creation
  sc-memory/sc-core/sc-store/sc_element.h
  sc-memory/sc-core/sc-store/sc_iterator3.c
  sc-memory/sc-core/sc-store/sc_storage.c
  sc-memory/sc-core/sc_memory.c
  sc-memory/tests/sc-memory/common/sc-elements.cpp
Labels: bug, sc-memory, 0.9.0
