Repository ostis-ai/sc-machine, pull requests merged in 2023-02, with the labels that each got.

#225 [sc-memory][tests][changelog] Edit scs parser according to standart
  docs/changelog.md
  sc-memory/sc-memory/sc_type.cpp
  sc-memory/sc-memory/sc_type.hpp
  sc-memory/sc-memory/scs/scs.g4
  sc-memory/sc-memory/scs/scs_parser.cpp
  sc-memory/sc-memory/scs/scs_parser.hpp
  sc-memory/sc-memory/scs/scs_types.cpp
  sc-memory/tests/scs/units/test_scs_common.cpp
Labels: sc-memory, tests, scs, 0.8.0

#235 [memory][fs-storage] Fix hashes size
  docs/changelog.md
  sc-memory/sc-core/sc-store/sc-fs-storage/sc_dictionary_fs_storage.c
Labels: bug, file system, 0.8.0

#236 [memory][helper] Free regex
  sc-memory/sc-core/sc_helper.c
Labels: bug, memory leak, 0.8.0

#249 [tests][tools] Remove pointer for sc-client core
  docs/changelog.md
  sc-tools/sc-server/tests/api/units/test_connection.cpp
  sc-tools/sc-server/tests/sc_client.hpp
Labels: bug, tests, 0.8.0
