Repository ostis-ai/sc-machine, pull requests merged in 2023-01, with the labels that each got.

#206 [memory][fs-storage] Fix link deletion and empty link content handling
  docs/changelog.md
  docs/storage/sc-dictionary.md
  sc-memory/sc-core/sc-store/sc-container/sc-dictionary/sc_dictionary.c
  sc-memory/sc-core/sc-store/sc-container/sc-dictionary/sc_dictionary.h
  sc-memory/sc-core/sc-store/sc-container/sc-list/sc_list.c
  sc-memory/sc-core/sc-store/sc-fs-storage/sc_dictionary_fs_storage.c
  sc-memory/sc-core/sc-store/sc-fs-storage/sc_rocksdb_fs_storage.cpp
  sc-memory/sc-core/sc-store/sc_storage.c
  sc-memory/tests/sc-memory/common/sc-link.cpp
  sc-memory/tests/sc-memory/containers/sc-dictionary.cpp
  sc-tools/sc-builder/tests/units/test_defines.hpp
Labels: bug, file system, 0.7.1

#212 [git] Change pr documentation link in pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, 0.7.1

#211 [memory][scs-parser] Fix structures begins and ends handling
  docs/changelog.md
  sc-memory/sc-memory/scs/scs.g4
  sc-memory/sc-memory/scs/scs_parser.cpp
  sc-memory/sc-memory/scs/scs_parser.hpp
  sc-memory/tests/sc-memory/scs/scs-helper.cpp
Labels: enhancement, scs, 0.7.1

#214 [tools][sc-server] Fix no json string request messages parsing
  docs/changelog.md
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc_memory_json_handler.cpp
  sc-tools/sc-server/src/sc-server-impl/sc_server_message_action.hpp
  sc-tools/sc-server/tests/api/units/test_base.cpp
Labels: bug, sc-server, 0.7.1

#213 [test] Add test to resolve node with russian idtf
  docs/changelog.md
  sc-memory/sc-core/sc_helper.c
  sc-memory/sc-core/sc_helper.h
  sc-memory/tests/sc-memory/common/sc-memory.cpp
Labels: API, sc-memory, 0.7.1

#219 Add init keynodes to result structure
  config/sc-machine.ini
  docs/changelog.md
  sc-memory/sc-core/sc_memory.c
  sc-memory/sc-core/sc_memory_params.c
  sc-memory/sc-core/sc_memory_params.h
  sc-memory/sc-memory/sc_keynodes.cpp
  sc-memory/sc-memory/sc_keynodes.hpp
  sc-memory/sc-memory/sc_memory.cpp
  sc-memory/tests/sc-memory/_test/sc_test.hpp
  sc-memory/tests/sc-memory/common/sc-memory.cpp
  sc-tools/sc-builder/src/main.cpp
  sc-tools/sc-config-utils/sc_memory_config.hpp
Labels: enhancement, sc-memory, 0.7.1

#222 [memory][scs-helper] Add system identifiers to output structure
  docs/changelog.md
  sc-memory/sc-core/sc_helper.c
  sc-memory/sc-core/sc_helper.h
  sc-memory/sc-memory/sc_memory.cpp
  sc-memory/sc-memory/sc_memory.hpp
  sc-memory/sc-memory/sc_scs_helper.cpp
  sc-memory/tests/sc-memory/common/sc-memory-api.cpp
  sc-memory/tests/sc-memory/scs/scs-helper.cpp
Labels: bug, scs, 0.8.0

#208 [tools][server] Add output structure to sc-server create elements by SCs endpoint
  docs/changelog.md
  sc-memory/sc-memory/sc_scs_helper.cpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_create_elements_by_scs_json_action.hpp
  sc-tools/sc-server/tests/api/units/test_base.cpp
Labels: sc-server, scs, 0.8.0

#230 [memory][scs] Fix contour with join type
  sc-memory/sc-memory/scs/scs_parser.cpp
  sc-memory/tests/sc-memory/scs/scs-helper.cpp
Labels: scs, 0.8.0

#231 [builder] Add output structure identifier fiver into itself
  sc-tools/sc-builder/src/builder.cpp
  sc-tools/sc-builder/src/builder.hpp
  sc-tools/sc-builder/tests/units/test_base.cpp
Labels: sc-builder, 0.8.0

#232 [memory][api] GetLinkContent skip whitespaces in result string
  docs/changelog.md
  sc-memory/sc-memory/sc_memory.hpp
  sc-memory/tests/sc-memory/common/sc-memory.cpp
Labels: bug, API, sc-memory, 0.8.0
