Repository ostis-ai/sc-machine, pull requests merged in 2023-05, with the labels that each got.

#276 [fs-memory] Optimize channels indexing
  docs/changelog.md
  docs/other/config.md
  sc-machine.ini
  sc-memory/sc-core/sc-store/sc-container/sc-dictionary/sc_dictionary.c
  sc-memory/sc-core/sc-store/sc-container/sc-dictionary/sc_dictionary.h
  sc-memory/sc-core/sc-store/sc-container/sc-string/sc_string.h
  sc-memory/sc-core/sc-store/sc-fs-memory/sc_dictionary_fs_memory.c
  sc-memory/sc-core/sc-store/sc-fs-memory/sc_dictionary_fs_memory.h
  sc-memory/sc-core/sc-store/sc-fs-memory/sc_dictionary_fs_memory_private.c
  sc-memory/sc-core/sc-store/sc-fs-memory/sc_dictionary_fs_memory_private.h
  sc-memory/sc-core/sc-store/sc-fs-memory/sc_file_system.c
  sc-memory/sc-core/sc-store/sc-fs-memory/sc_file_system.h
  sc-memory/sc-core/sc-store/sc-fs-memory/sc_fs_memory.c
  sc-memory/sc-core/sc-store/sc-fs-memory/sc_fs_memory.h
  sc-memory/sc-core/sc-store/sc-fs-memory/sc_io.h
  sc-memory/sc-core/sc-store/sc_event.c
  sc-memory/sc-core/sc-store/sc_event/sc_event_queue.c
  sc-memory/sc-core/sc-store/sc_storage.c
  sc-memory/sc-core/sc-store/sc_types.h
  sc-memory/sc-core/sc_memory.c
  sc-memory/sc-core/sc_memory_params.c
  sc-memory/sc-core/sc_memory_params.h
  sc-memory/sc-memory/sc_struct.hpp
  sc-memory/tests/sc-memory/containers/sc-dictionary.cpp
  sc-memory/tests/sc-memory/fs-storage/sc-dictionary-fs-memory-api.cpp
  sc-memory/tests/sc-memory/fs-storage/sc-fs-memory-api.cpp
  sc-tools/sc-builder/tests/units/test_base.cpp
  sc-tools/sc-config-utils/sc_memory_config.hpp
  scripts/build_kb.py
Labels: sc-memory, file system, 0.8.0

#277 [memory][template][build] Not use system identifiers in sc-template-build
  docs/changelog.md
  sc-memory/sc-memory/sc_struct.cpp
  sc-memory/sc-memory/sc_struct.hpp
  sc-memory/sc-memory/sc_template.cpp
  sc-memory/sc-memory/sc_template.hpp
  sc-memory/sc-memory/sc_template_build.cpp
  sc-memory/sc-memory/sc_template_gen.cpp
  sc-memory/sc-memory/sc_template_scs.cpp
  sc-memory/sc-memory/sc_template_search.cpp
  sc-memory/tests/sc-memory/common/sc-elements.cpp
  sc-memory/tests/sc-memory/templates/sc-templates-api.cpp
  sc-memory/tests/sc-memory/templates/sc-templates-build.cpp
  sc-memory/tests/sc-memory/templates/sc-templates-gen-api.cpp
  sc-memory/tests/sc-memory/templates/sc-templates-search.cpp
  sc-tools/sc-builder/tests/kb/test_templates/template_2.scs
  sc-tools/sc-builder/tests/units/test_base.cpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_template_generate_json_action.hpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_template_search_json_action.hpp
Labels: 0.8.0, sc-template, sc-template-build

#282 [scripts] Remove kb.bin contents rather than the dir itself
  scripts/build_kb.py
Labels: bug, 0.8.0

#287 [memory][template][revert] Allow template search and gen results copying
  sc-memory/sc-memory/sc_struct.cpp
  sc-memory/sc-memory/sc_template.hpp
  sc-memory/sc-memory/sc_template_gen.cpp
  sc-memory/sc-memory/sc_template_search.cpp
Labels: 0.8.0, sc-template, sc-template-search, sc-template-build

#275 [scripts][builder] Move repo.path parse logic from prepare_kb to sc-builder, remove prepare_kb and optimize sc-builder
  README.md
  docs/build/linux-build.md
  docs/build/osx-build.md
  docs/changelog.md
  sc-memory/sc-memory/utils/sc_exec.hpp
  sc-tools/sc-builder/CMakeLists.txt
  sc-tools/sc-builder/src/builder.cpp
  sc-tools/sc-builder/src/builder.hpp
  sc-tools/sc-builder/src/builder_defines.hpp
  sc-tools/sc-builder/src/builder_defines.hpp.in
  sc-tools/sc-builder/src/exception.hpp
  sc-tools/sc-builder/src/gwf_translator.cpp
  sc-tools/sc-builder/src/gwf_translator.hpp
  sc-tools/sc-builder/src/keynodes.cpp
  sc-tools/sc-builder/src/keynodes.hpp
  sc-tools/sc-builder/src/sc_repo_path_collector.cpp
  sc-tools/sc-builder/src/sc_repo_path_collector.hpp
  sc-tools/sc-builder/src/scs_loader.cpp
  sc-tools/sc-builder/src/scs_loader.hpp
  sc-tools/sc-builder/src/scs_translator.cpp
  sc-tools/sc-builder/src/scs_translator.hpp
  sc-tools/sc-builder/src/translator.cpp
  sc-tools/sc-builder/src/translator.hpp
  sc-tools/sc-builder/src/utils.hpp
  sc-tools/sc-builder/tests/repos/excluded_repos.path
  sc-tools/sc-builder/tests/repos/kb/child_repos/child_kb/samples/sample1.scs
  sc-tools/sc-builder/tests/repos/kb/child_repos/child_kb/samples/sample2.scs
  sc-tools/sc-builder/tests/repos/kb/child_repos/child_kb/samples/sample3.scs
  sc-tools/sc-builder/tests/repos/kb/child_repos/repo.path
  sc-tools/sc-builder/tests/repos/kb/example.gwf
  sc-tools/sc-builder/tests/repos/kb/kb.scs
  sc-tools/sc-builder/tests/repos/kb/rules.scs
  sc-tools/sc-builder/tests/repos/kb/samples/sample1.scs
  sc-tools/sc-builder/tests/repos/kb/samples/sample2.scs
  sc-tools/sc-builder/tests/repos/kb/samples/sample3.scs
  sc-tools/sc-builder/tests/repos/kb/specification.scs
  sc-tools/sc-builder/tests/repos/kb/templates/template1.scs
  sc-tools/sc-builder/tests/repos/kb/templates/template2.scs
  sc-tools/sc-builder/tests/repos/kb/templates/template3.scs
  sc-tools/sc-builder/tests/repos/non_trim_repos.path
  sc-tools/sc-builder/tests/repos/repeated_repos.path
  sc-tools/sc-builder/tests/repos/simple_repo.path
  sc-tools/sc-builder/tests/units/repo_path_collector_test_api.hpp
  sc-tools/sc-builder/tests/units/test_aliases.cpp
  sc-tools/sc-builder/tests/units/test_base.cpp
  sc-tools/sc-builder/tests/units/test_clean.cpp
  sc-tools/sc-builder/tests/units/test_config.cpp
  sc-tools/sc-builder/tests/units/test_contents.cpp
  sc-tools/sc-builder/tests/units/test_defines.hpp.in
  sc-tools/sc-builder/tests/units/test_gwf_translator.cpp
  sc-tools/sc-builder/tests/units/test_repo_path_collector_api.cpp
  sc-tools/sc-builder/tests/units/test_visibility.cpp
  scripts/build_kb.py
  scripts/docker_entrypoint.sh
  scripts/kb_scripts/gwf_to_scs.py
  scripts/kb_scripts/remove_scsi.py
  scripts/tests/builder_test_kb.sh
Labels: build, sc-builder, 0.8.0, scripts

#286 [memory][template] Get replacements with var idtfs keys
  sc-memory/sc-memory/sc_template.cpp
  sc-memory/sc-memory/sc_template.hpp
  sc-tools/sc-builder/tests/units/test_base.cpp
Labels: 0.8.0, sc-template

#288 [kpm][sc2scn] View kb fragment if it is input construction
  docs/changelog.md
  sc-kpm/sc-ui/translators/uiSc2SCnJsonTranslator.cpp
  sc-kpm/tests/translators/test-structures/kb_fragment.scs
  sc-kpm/tests/translators/test-structures/successfull_result_kb_fragment.txt
  sc-kpm/tests/translators/test-structures/with_filter_list_answer.txt
  sc-kpm/tests/translators/ui-scn-json-translator.cpp
  sc-memory/sc-core/sc-store/sc_iterator3.c
  sc-tools/sc-builder/.gitignore
  sc-tools/sc-builder/src/builder_defines.hpp
Labels: bug, sc-kpm, 0.8.0, ui
