Repository ostis-ai/sc-machine, pull requests merged in 2024-09, with the labels that each got.

#411 [memory][module][tests] Fix subscription of ScActionInitiatedAgent with module
  sc-memory/sc-memory/sc_module.tpp
  sc-memory/tests/sc-memory/agents/test_sc_agents.cpp
Labels: bug, 0.10.0, agents

#408 [memory][agents] Support platform independent agents
  sc-memory/sc-memory/sc_agent_builder.tpp
  sc-memory/sc-memory/sc_keynodes.hpp
  sc-memory/tests/sc-memory/agents/test_sc_specified_agents.cpp
  sc-memory/tests/sc-memory/common/test_sc_keynodes.cpp
Labels: enhancement, 0.10.0, agents

#407 [memory][agent][manager] Allow to subscribe agent class with several agent implementations
  docs/sc-memory/api/cpp/extended/agents/agent_context.md
  sc-memory/sc-memory/sc_agent_context.hpp
  sc-memory/sc-memory/sc_agent_context.tpp
  sc-memory/sc-memory/sc_agent_manager.hpp
  sc-memory/sc-memory/sc_agent_manager.tpp
  sc-memory/sc-memory/sc_module.tpp
  sc-memory/tests/sc-memory/agents/test_sc_agents.cpp
  sc-memory/tests/sc-memory/agents/test_sc_specified_agents.cpp
Labels: enhancement, 0.10.0, agents

#412 [docs] Fix GenerateConditionWaiter call
  docs/sc-memory/api/cpp/extended/agents/waiters.md
Labels: documentation, 0.10.0
