Repository ostis-ai/sc-machine, pull requests merged in 2024-01, with the labels that each got.

#352 [memory] Fix sync deleting link with empty content
  sc-memory/sc-core/sc-store/sc-fs-memory/sc_dictionary_fs_memory.c
  sc-memory/tests/sc-memory/common/sc-elements.cpp
  sc-memory/tests/sc-memory/common/sc-memory.cpp
Labels: sc-memory, 0.9.0

#354 [api] Add hashes handling for params
  docs/changelog.md
  sc-memory/sc-memory/sc_template.cpp
  sc-memory/sc-memory/sc_template.hpp
  sc-memory/sc-memory/sc_template_build.cpp
  sc-tools/sc-builder/tests/units/test_base.cpp
Labels: bug, 0.9.0

#355 [memory][scs] Support sc-links for SCs-code level 1
  docs/changelog.md
  sc-memory/sc-memory/scs/scs.g4
  sc-memory/tests/scs/units/test_scs_level_1.cpp
  sc-tools/sc-builder/tests/kb/contents.scs
  sc-tools/sc-builder/tests/units/test_contents.cpp
Labels: bug, scs, 0.9.0

#356 [memory][scs] Support recursive curl braces for SCs-code level 2
  docs/changelog.md
  sc-memory/sc-memory/scs/scs.g4
  sc-memory/tests/scs/units/test_scs_level_2.cpp
Labels: bug, scs, 0.9.0

#359 [memory][config] Implement config options for disabling sc-memory dumps and limiting sc-memory threads
  docs/build/config.md
  docs/changelog.md
  sc-machine.ini
  sc-memory/sc-core/sc-store/sc-event/sc_event_queue.c
  sc-memory/sc-core/sc-store/sc-event/sc_event_queue.h
  sc-memory/sc-core/sc-store/sc-fs-memory/sc_fs_memory.c
  sc-memory/sc-core/sc-store/sc_storage.c
  sc-memory/sc-core/sc-store/sc_storage.h
  sc-memory/sc-core/sc-store/sc_storage_dump_manager.c
  sc-memory/sc-core/sc-store/sc_storage_dump_manager.h
  sc-memory/sc-core/sc-store/sc_storage_private.h
  sc-memory/sc-core/sc_memory_params.c
  sc-memory/sc-core/sc_memory_params.h
  sc-memory/tests/sc-memory/_test/sc_test.hpp
  sc-memory/tests/sc-memory/common/test_sc_elements.cpp
  sc-tools/sc-builder/src/main.cpp
  sc-tools/sc-builder/tests/units/builder_test.hpp
  sc-tools/sc-builder/tests/units/sc-builder-test.ini
  sc-tools/sc-builder/tests/units/test_config.cpp
  sc-tools/sc-config-utils/sc_memory_config.hpp
  sc-tools/sc-server/CMakeLists.txt
  sc-tools/sc-server/src/sc-server-impl/sc_server.cpp
  sc-tools/sc-server/src/sc-server-impl/sc_server.hpp
  sc-tools/sc-server/src/sc-server-impl/sc_server_impl.cpp
  sc-tools/sc-server/src/sc-server-impl/sc_server_impl.hpp
  sc-tools/sc-server/src/sc_server_factory.cpp
  sc-tools/sc-server/tests/api/units/sc_server_test.hpp
  sc-tools/sc-server/tests/api/units/test_connection.cpp
  sc-tools/sc-server/tests/sc-server-test.ini
Labels: 0.9.0, config

#360 [refactor] Change to signature lambda indentation; wrap brace before lambda in new line
  .clang-format
  sc-kpm/sc-agents-common/utils/AgentUtils.cpp
  sc-kpm/sc-agents-common/utils/GenerationUtils.cpp
  sc-kpm/sc-ui/translators/uiSc2SCgJsonTranslator.cpp
  sc-kpm/sc-ui/translators/uiSc2SCnJsonTranslator.cpp
  sc-kpm/sc-ui/translators/uiSc2ScsJsonTranslator.cpp
  sc-kpm/sc-ui/translators/uiTranslatorFromSc.cpp
  sc-memory/sc-memory/kpm/sc_agent.cpp
  sc-memory/sc-memory/sc_defines.hpp
  sc-memory/sc-memory/sc_iterator.hpp
  sc-memory/sc-memory/sc_scs_helper.cpp
  sc-memory/sc-memory/sc_template_build.cpp
  sc-memory/sc-memory/sc_template_gen.cpp
  sc-memory/sc-memory/sc_template_scs.cpp
  sc-memory/sc-memory/sc_template_search.cpp
  sc-memory/sc-memory/sc_type.hpp
  sc-memory/sc-memory/sc_wait.hpp
  sc-memory/sc-memory/utils/sc_exec.hpp
  sc-memory/tests/sc-memory/agents/test_sc_agent_actions.cpp
  sc-memory/tests/sc-memory/agents/test_sc_agent_result.cpp
  sc-memory/tests/sc-memory/common/test_sc_link.cpp
  sc-memory/tests/sc-memory/common/test_sc_memory.cpp
  sc-memory/tests/sc-memory/common/test_sc_type.cpp
  sc-memory/tests/sc-memory/common/test_sc_utils.cpp
  sc-memory/tests/sc-memory/events/test_sc_event.cpp
  sc-memory/tests/sc-memory/events/test_sc_event_threading.cpp
  sc-memory/tests/sc-memory/events/test_sc_wait.cpp
  sc-memory/tests/sc-memory/templates/test_sc_templates_build.cpp
  sc-memory/tests/sc-memory/templates/test_sc_templates_regression.cpp
  sc-memory/tests/sc-memory/templates/test_sc_templates_search.cpp
  sc-memory/tests/sc-memory/templates/test_sc_templates_search_api.cpp
  sc-tools/codegen/Parser/Cursor.cpp
  sc-tools/codegen/Parser/MacrosManager.cpp
  sc-tools/sc-builder/src/builder.cpp
  sc-tools/sc-builder/src/sc_repo_path_collector.cpp
  sc-tools/sc-builder/src/translator.cpp
  sc-tools/sc-builder/tests/units/repo_path_collector_test_api.hpp
  sc-tools/sc-builder/tests/units/test_config.cpp
  sc-tools/sc-server/src/main.cpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_create_elements_json_action.hpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_handle_link_content_json_action.hpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-action/sc_memory_make_template_json_action.hpp
  sc-tools/sc-server/src/sc-server-impl/sc-memory-json/sc-memory-json-event/sc_memory_json_events_handler.cpp
Labels: bug, 0.9.0, refactor
